ts-despachos/src/wsdl/localhost_8080/us-notificaciones/USNotificacionesService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://javeriana.usnotificaciones/service/v1.0.0/notificaciones" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://javeriana.usnotificaciones/service/v1.0.0/notificaciones">

  <xs:element name="cabecera" nillable="true" type="tns:cabeceraIntegracion"/>

  <xs:element name="enviarNotificacionRequest" type="tns:enviarNotificacionRequest"/>
  <xs:element name="enviarNotificacionResponse" type="tns:enviarNotificacionResponse"/>

  <xs:complexType name="enviarNotificacionRequest">
    <xs:sequence>
        <xs:element name="notificacion" type="tns:notificacion" nillable="true" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="cabeceraIntegracion">
    <xs:sequence>
      <xs:element name="pass" type="xs:string" minOccurs="1"/>
      <xs:element name="user" type="xs:string" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="enviarNotificacionResponse">
    <xs:complexContent>
        <xs:extension base="tns:resultado"/>
      </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="resultado">
    <xs:sequence>
      <xs:element name="codigo" type="xs:string" minOccurs="1"/>
      <xs:element name="mensaje" type="xs:string" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="notificacion">
    <xs:sequence>      
      <xs:element name="idTipoNotificacion" type="xs:string" minOccurs="1"/>
      <xs:element name="destino" type="xs:string" minOccurs="1"/>
      <xs:element name="asunto" type="xs:string" minOccurs="1"/>
      <xs:element name="mensaje" type="xs:string" minOccurs="1"/>
      <xs:element name="mensajeCorto" type="xs:string" minOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
 
</xs:schema>